# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Sandrus\Documents\Research\SUMO\SUMO_DEMOS\Priorizite_Access_Emissions\base_case\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
